@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;700&display=swap');


*,
html,
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --neon-border-color: #08f;
    --titulo: #255aff;
    --p: lightblue;
}

body {
    background: rgb(2, 1, 31);
    background: radial-gradient(304deg, rgba(2, 1, 31, 1) 0%, rgba(34, 76, 92, 1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

nav h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: #e5e5e5;
}


.divLogo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.divLogo img {
    width: 200px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: rgb(223, 223, 223);
    font-weight: bold;
    font-size: 12px;
    margin: 5px;
}

nav a:first-of-type {
    border-bottom: 3px solid var(--neon-border-color);
}

nav button {
    margin: 20px;
}

button {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

/*-----------------------*/

.inicio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
}

.inicio h1 {
    text-align: center;
    color: var(--titulo);
    font-size: 28px;
}

.inicio p {
    margin-top: 10px;
    text-align: justify;
    color: var(--p)
}

.inicioIMG {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inicio img {
    width: 250px;
}

/*---------*/

.servicos {

    width: 100%;
    background-color: lightgray;
    background: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.servicos h1 {
    color: darkblue;
    text-align: center;
    margin: 20px 0px;
    font-size: 28px;
}

.services {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.gif {
    width: 120px;
    border-radius: 30%;
    border: 2px solid var(--neon-border-color);
}

.servico h5 {
    color: rgb(48, 48, 164);
}

/*-------------*/

.marcas {
    padding: 20px 0px;
}

.marcas h1 {
    color: var(--titulo);
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}